.App {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  background-color: #D5E1EF;

}

.hero {
  box-shadow: 0px 0px black;
  border-radius: 1rem;
  width: 15rem;
  padding: 1.2rem;
  text-align: center;
  background-color: white;
  

}

img {
  display: block;
  height: 15rem;
  width: auto;
  border-radius:1em;
}